.new-line {
    margin-bottom: 15px !important;
}

.lightblubWrapper {
    background-color: var(--background-lightblub);
    margin-right: 10px;
}

@media screen and (max-width: 400px) {
    .lightblubWrapper {
      max-width: 36px;
      max-height: 36px;
    }
}

.lightblub {
    color: var(--header-text-color);
    cursor: pointer; 
    font-size: x-large;
}