.new-line {
    margin-bottom: 15px !important;
}

.lightblubWrapper {
    background-color: var(--background-lightblub);
}

.lightblub {
    color: var(--header-text-color);
    cursor: pointer; 
    font-size: x-large;
}